// Variables
@import "./variables";

// Utilities
@import "./utilities";

// Components
@import "./components/components-variables";
@import "./components/callouts";

// Bootstrap
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Overides
@import "./overides";

// Site specific
@import "./integrations";


// Scaffolding
////////////////////////////////////////////////////////////////////////////////

#main {
  border: 1px solid $panel-inner-border;
  background-color: #FFF;
}

// Header
#header {
  .navbar {
    border-radius: 0;
  }
}

#sidebar {
  .nav-header {
    font-weight: bold;
  }

  a {
    color: #606c76;
  }

  li > a {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

// Footer
#footer {
  border-top: 1px solid $gray-lighter;
  font-size: 14px;
}

.nav-stacked {
  border-right: 1px solid $panel-inner-border;
}
