---
title: Integration - Dialog Help
description: All Dialog integrations
keywords:
---

<div class="container p-b-lg" id="main">
  <div class="row">

    <div class="col-sm-3">
      <%= partial 'navigation.html.erb' %>
    </div>

    <div class="col-sm-9">
      <h2 class="page-header">Integrations</h2>

      <p class="lead">Do more with Dialog by connecting with products like Intercom, Segment, Slack, Smooch, Zapier and many more.</p>

      <hr>

      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="icon-integration icon-intercom icon-sm"></span>
              Intercom
            </div>
            <div class="panel-body">
              <p>Intercom is one place for your entire business to see and talk to customers.</p>
              Soon
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="icon-integration icon-segment icon-sm"></span>
              Segment
            </div>
            <div class="panel-body">
              <p>Collect user data with one API and send it to hundreds of tools or a data warehouse.</p>
              Soon
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="icon-integration icon-slack icon-sm"></span>
              Slack
            </div>
            <div class="panel-body">
              <p>Slack brings all your communication together to make your working life simpler, more pleasant and more productive.</p>
              Soon
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="icon-integration icon-smooch icon-sm"></span>
              Smooch
            </div>
            <div class="panel-body">
              <p>Smooch is a multi-channel messaging platform for businesses, bots and software makers.</p>
              <a href="/integrations/smooch">More</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="icon-integration icon-zapier icon-sm"></span>
              Zapier
            </div>
            <div class="panel-body">
              <p>Zapier lets you easily connect the web apps you use, making it easy to automate tedious tasks.</p>
              Soon
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
