---
title: Integrations - Dialog Help
description: All Dialog integrations
keywords:
---

<div class="container p-b-lg" id="main">
  <div class="row">

    <div class="col-sm-3">
      <%= partial 'navigation.html.erb' %>
    </div>

    <div class="col-sm-9">
      <h2 class="page-header">Integrations</h2>

      <p class="lead">Do more with Dialog by connecting with products like Clearbit, Slack and Zapier.</p>
      <hr>

      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="pull-right">
                <span class="label label-default">soon</span>
              </div>

              <span class="icon-integration icon-clearbit icon-sm"></span>
              Clearbit
            </div>
            <div class="panel-body">
              <p>Clearbit is a data API that lets you enrich your person and company records with social, demographic, and firmographic data.</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="pull-right">
                <span class="label label-default">soon</span>
              </div>

              <span class="icon-integration icon-slack icon-sm"></span>
              Slack
            </div>
            <div class="panel-body">
              <p>Slack is a platform for team communication: everything in one place, instantly searchable, available wherever you go.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="pull-right">
                <span class="label label-default">soon</span>
              </div>

              <span class="icon-integration icon-zapier icon-sm"></span>
              Zapier
            </div>
            <div class="panel-body">
              <p>Zapier lets you easily connect the web apps you use, making it easy to automate tedious tasks.</p>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
