---
title: Slack integration - Dialog Help
description: Dialog integration for Slack
keywords: slack, communication, team, messaging
---

<div class="container p-b-lg" id="main">
  <div class="row">

    <div class="col-sm-3">
      <%= partial 'navigation.html.erb' %>
    </div>

    <div class="col-sm-9">
      <h2 class="page-header">
        <span class="icon-integration icon-slack"></span>
        Slack
      </h2>

      <p class="lead">Enable the <a href="https://slack.com">Slack</a> integration with Dialog and receive notifications when important events happen.</p>

      <div class="callout callout-primary">
        <div class="callout-content">
          <h4>Not available yet</h4>
          <p>We're working hard to ship this. <a href="mailto:friends@dialoganalytics.com?subject=Slack availability">Ping us</a> to know when it's going to be ready.</p>
        </div>
      </div>

      <h3 class="page-header">Got questions?</h3>

      <p>If you have other products you would like to see Dialog integrate with please send us an email at <a href="mailto:friends@dialoganalytics.com">friends@dialoganalytics.com</a>. You can <a href="/integrations">learn more about all existing Dialog integrations here</a>.</p>

    </div>
  </div>
</div>
