<footer class="m-t-md p-y" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        Dialog • <a href="mailto:friends@dialoganalytics.com">Contact</a> • <%= link_to "Status", 'http://status.dialoganalytics.com' %> • <%= link_to "Careers", "https://angel.co/dialog-analytics/jobs" %> • <%= link_to "Privacy", 'https://dialoganalytics.com/privacy' %> • <%= link_to "Terms", 'https://dialoganalytics.com/terms' %>
      </div>
    </div>
  </div>
</footer>
