<nav id="sidebar">
  <ul class="nav nav-stacked">
    <li class="nav-header m-t">Import</li>
    <li>
      <a href="/#file-format">File format</a>
    </li>

    <li class="nav-header m-t">Sources</li>
    <li>
      <a href="/sources/smooch">Smooch</a>
    </li>
    <li>
      <a href="/sources/converse-ai">Converse.ai <span class="class label label-default">soon</span></a>
    </li>
    <li>
      <a href="/sources/dexter">Dexter <span class="class label label-default">soon</span></a>
    </li>
    <li>
      <a href="/sources/init-ai">Init.ai <span class="class label label-default">soon</span></a>
    </li>
    <li>
      <a href="/sources/meya-ai">Meya.ai <span class="class label label-default">soon</span></a>
    </li>
    <li>
      <a href="/sources/motion-ai">Motion.ai <span class="class label label-default">soon</span></a>
    </li>
    <li>
      <a href="/sources/segment">Segment <span class="class label label-default">soon</span></a>
    </li>

    <li class="nav-header m-t">Integrations</li>
    <li>
      <a href="/integrations/clearbit">Clearbit <span class="label label-default">soon</span></a>
    </li>
    <li>
      <a href="/integrations/slack">Slack <span class="label label-default">soon</span></a>
    </li>
    <li>
      <a href="/integrations/zapier">Zapier <span class="label label-default">soon</span></a>
    </li>

    <li class="nav-header m-t">Tracking</li>
    <li>
      <a href="/#flows">Flows <span class="label label-default">soon</span></a>
    </li>
    <li>
      <a href="/#groups">Groups <span class="label label-default">soon</span></a>
    </li>
  </ul>
</nav>
