<nav>
  <ul class="nav nav-stacked">
    <li class="nav-header m-t">Import</li>
    <li><a href="/#file-format">File format</a></li>

    <li class="nav-header m-t">Integrations</li>
    <li><a href="#">Intercom <span class="label label-default">soon</span></a></li>
    <li><a href="#">Segment <span class="label label-default">soon</span></a></li>
    <li><a href="#">Slack <span class="label label-default">soon</span></a></li>
    <li><a href="/integrations/smooch">Smooch</a></li>
    <li><a href="#">Zapier <span class="label label-default">soon</span></a></li>

    <li class="nav-header m-t">Tracking</li>
    <li><a href="/#flows">Flows <span class="label label-default">soon</span></a></li>
    <li><a href="/#groups">Groups <span class="label label-default">soon</span></a></li>
  </ul>
</nav>
