---
title: Sources - Dialog Help
description: All Dialog sources
keywords:
---

<div class="container p-b-lg" id="main">
  <div class="row">

    <div class="col-sm-3">
      <%= partial 'navigation.html.erb' %>
    </div>

    <div class="col-sm-9">
      <h2 class="page-header">Sources</h2>

      <p class="lead">Track conversations by connecting with sources like Segment, Smooch, Init.ai, and many more.</p>

      <hr>

      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="icon-integration icon-smooch icon-sm"></span>
              Smooch
            </div>
            <div class="panel-body">
              <p>Smooch is a multi-channel messaging platform for businesses, bots and software makers.</p>
              <a href="/sources/smooch">More</a>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="pull-right">
                <span class="label label-default">soon</span>
              </div>

              <span class="icon-integration icon-segment icon-sm"></span>
              Segment
            </div>
            <div class="panel-body">
              <p>Segment allows to collect user data with one API and send it to hundreds of tools or a data warehouse.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="pull-right">
                <span class="label label-default">soon</span>
              </div>

              <span class="icon-integration icon-converse icon-sm"></span>
              Converse.ai
            </div>
            <div class="panel-body">
              <p>Converse.ai is customer success platform for the messaging generation.</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="pull-right">
                <span class="label label-default">soon</span>
              </div>

              <span class="icon-integration icon-dexter icon-sm"></span>
              Dexter
            </div>
            <div class="panel-body">
              <p>Dexter is a bot creation platform targeted at writers, publishers, and business owners.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="pull-right">
                <span class="label label-default">soon</span>
              </div>

              <span class="icon-integration icon-init icon-sm"></span>
              Init.ai
            </div>
            <div class="panel-body">
              <p>Init.ai enables companies to easily create AI and natural language conversational apps through their developer platform.</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="pull-right">
                <span class="label label-default">soon</span>
              </div>

              <span class="icon-integration icon-meya icon-sm"></span>
              Meya.ai
            </div>
            <div class="panel-body">
              <p>Meya lets you build amazing bots that can be easily connected to popular messaging apps.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="pull-right">
                <span class="label label-default">soon</span>
              </div>

              <span class="icon-integration icon-motion icon-sm"></span>
              Motion.ai
            </div>
            <div class="panel-body">
              <p>Motion.ai is a platform to visually build, train & deploy bots to do just about anything.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
