---
title: Meya.ai integration - Dialog Help
description: Dialog integration for Meya.ai
keywords: meya.ai, bot, chatbot, build, host
---

<div class="container p-b-lg" id="main">
  <div class="row">

    <div class="col-sm-3">
      <%= partial 'navigation.html.erb' %>
    </div>

    <div class="col-sm-9">
      <h2 class="page-header">
        <span class="icon-integration icon-meya"></span>
        Meya.ai
      </h2>

      <p class="lead">Link Dialog to your <a href="https://meya.ai">Meya.ai</a> account and messages going through the Meya.ai platform will be ingested automatically.</p>

      <div class="callout callout-primary">
        <div class="callout-content">
          <h4>Not available yet</h4>
          <p>We're working hard to ship this. <a href="mailto:friends@dialoganalytics.com?subject=Meya.ai availability">Ping us</a> to know when it's going to be ready.</p>
        </div>
      </div>

      <h3 class="page-header">Got questions?</h3>

      <p>If you have other products you would like to see being connected to Dialog please send us an email at <a href="mailto:friends@dialoganalytics.com">friends@dialoganalytics.com</a>. You can <a href="/sources">learn more about all existing Dialog sources here</a>.</p>

    </div>
  </div>
</div>
