---
title: Smooch integration - Dialog Help
description: Dialog integration for Smooch
keywords: smooch, chatbot, multi-channel, messaging
---

<div class="container p-b-lg" id="main">
  <div class="row">

    <div class="col-sm-3">
      <%= partial 'navigation.html.erb' %>
    </div>

    <div class="col-sm-9">
      <h2 class="page-header">
        <span class="icon-integration icon-smooch"></span>
        Smooch
      </h2>

      <p class="lead">Link Dialog to your <a href="https://smooch.io">Smooch</a> account and messages going through the Smooch platform will be ingested automatically.</p>


      <h3 class="page-header">How to install</h3>

      <p>The installation does not require any development time and can be added by simply clicking through the install steps, which take 2 minutes to complete.</p>

      <p>1. Login to your Dialog account and go to your bot's Integrations.</p>

      <p>2. Select <strong>Configure</strong> on the Smooch option.</p>

      <p>3. Select <strong>Link Dialog to Smooch</strong></p>

      <p>4. This will open Smooch in a new tab and ask you to authorize the application. Authorizing Dialog will enable Dialog to receive webhooks from Smooch when a message is created.</p>


      <h3 class="page-header">Got questions?</h3>

      <p>If you have other products you would like to see being connected to Dialog please send us an email at <a href="mailto:friends@dialoganalytics.com">friends@dialoganalytics.com</a>. You can <a href="/sources">learn more about all existing Dialog sources here</a>.</p>

    </div>
  </div>
</div>
